### loops
- for Loop ->step based loop
- while loop ->condition based loop

In [23]:
#for i in range(start,end,step):
#......statements

for i in range(0,101,10):
    print(i,end=', ')

0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100,

In [22]:
#reverse
for i in range(100,-1,-10):  #end,start,-step
    print(i,end=', ')

100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0,

In [25]:
#print each alphabet of the given word
word='digipodium'
for i in word:
    print(i,end=", ")

d, i, g, i, p, o, d, i, u, m,

In [32]:
#print only the alphabets of the given word
data='p_y+t#h@o!n'
for i in data:
    if i.isalpha():  #.isalpha() is used to check if value is alphabet
        print(i,end=', ')

p, y, t, h, o, n,

In [29]:
#multiply each element of list by 5
num=[-5,-4,-3,-2,-1,0,1,2,3,4,5]
for i in num:
    print(i*5, end=", ")

-25, -20, -15, -10, -5, 0, 5, 10, 15, 20, 25,

In [31]:
#print only +ve number of the list
num=[-5,-4,-3,-2,-1,0,1,2,3,4,5]
for i in num:
    if i>0:   
        print(i,end=", ")

1, 2, 3, 4, 5,

In [33]:
#print only even numbers of the list
num=[-5,-4,-3,-2,-1,0,1,2,3,4,5]
for i in num:
    if i%2==0:   
        print(i,end=", ")

-4, -2, 0, 2, 4,

In [53]:
#print elements starting with A
fruits=["Banana", "Apple", "Strawberry", "Avocado", "Pineapple","Orange", "Berry", "Blueberry", 
        "Cherry", "Lemon", "Apricot", "Figs","Plum", "Papaya", "Grapefruit"]
for i in fruits:
    if i[0] in ['A']:
        print(i)

Apple
Avocado
Apricot

In [44]:
#print fruit names till given fruit name here "cherry"
for i in fruits:
    print(i)
    if i=="Cherry":
        break
    
print("loop completed")

Banana
Apple
Strawberry
Avocado
Pineapple
Orange
Berry
Blueberry
Cherry
loop completed

In [47]:
#print sum of +ve num in the list
num=[120,30,-10,-50,20,-40]
sum=0
for i in num:
    if i>0:
        sum+=i
print(sum)

170

In [1]:
print("hi")

hi

In [4]:
for i in range(5):
    for j in range(1):
        print(i,j)

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0

In [5]:
names=['alex','leo','ella','shane','steve']
for i in names:
    print(i)

alex
leo
ella
shane
steve

In [10]:
#enumerate funtion
for i,v in enumerate(names):
    print(i,v)  # print i,v i.e. index and values

0 alex
1 leo
2 ella
3 shane
4 steve

In [17]:
for i in names:
    print(i)
    if i==names[3]:
        
        break

alex
leo
ella
shane

In [18]:
#print 3 values of list
for i,v in enumerate(names):
    if i==3:
        break
    print(v)

alex
leo
ella

In [28]:
#print value at even index
for i,v in enumerate(names):
    if i%2==0:
        print(v)

alex
ella
steve

In [37]:
#zip function returns each element of both list
x=[1,2,3,4,5]
y=[6,7,8,9,10]

for i,j in zip(x,y):
    print(f'{i}+{j}={i+j}')

1+6=7
2+7=9
3+8=11
4+9=13
5+10=15

In [38]:
x=[1,2,3,4,5]
y=[6,7,8,9,10]
z=[1,1,1,1,1]

for i,j,k in zip(x,y,z):
    print(f'{i}+{j}+{k}={i+j+k}')

1+6+1=8
2+7+1=10
3+8+1=12
4+9+1=14
5+10+1=16

In [88]:
name=["appl","banana","cherry"]
cost=[100,200,300]
qty=[3,2,5]
total=0
for n,p,q in zip(name,cost,qty):
    print(f'{n:10}|{p:^10}|{q:^3}|{p*q:>5}')
    total+=(p*q)
print('_'*32)
print(f'total{total:26}')

appl      |   100    | 3 |  300
banana    |   200    | 2 |  400
cherry    |   300    | 5 | 1500
________________________________
total                      2200

In [86]:
#print prime number in a given range
n=int(input("enter the number"))
for i in range(2,n):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29

In [71]:
n=int(input("enter number"))
for i in range(1,11):
    if i==n:
        print("loop terminated")
        break
    print(i)
else:
    print("well done")

1
2
3
4
loop terminated

In [79]:
n=int(input("enter a number"))
count=0
for i in range(2,n//2):
    if n%i==0:
        print("not prime")
        break
else:
    print("prime")

prime

In [1]:
#while loop
i=200
while i>0:
    print(i)
    i-=25

200
175
150
125
100
75
50
25