In [2]:
x=set()
print(x)
y={1,2,3,4,5,6,8}
print(y)
fruits={"apple","banana",'cherry'}
print(fruits)
data={"apple",23.4}
print(data)
a=set([1,2,3,4,5,6,7,8,9])
b=set("harry potter")
print(a)

print(b)

set()
{1, 2, 3, 4, 5, 6, 8}
{'banana', 'cherry', 'apple'}
{'apple', 23.4}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'y', 't', 'e', ' ', 'o', 'a', 'p', 'h', 'r'}

In [3]:
a=set()
a.add("the final empire")
a.add("hero of ages")
a.add("the well of creation")
print(a)

{'hero of ages', 'the well of creation', 'the final empire'}

In [4]:
a.update(["appleseed","applepie","applecider"])

In [5]:
a

{'applecider',
 'applepie',
 'appleseed',
 'hero of ages',
 'the final empire',
 'the well of creation'}

In [6]:
a.add("appleseed")
print(a)

{'appleseed', 'applepie', 'the final empire', 'hero of ages', 'the well of creation', 'applecider'}

In [7]:
# union
a={1,2,3}
b={3,4,5}
c={6,7,8}

ab=a.union(b)

print(ab)

print(a.union(a,b))

print(a|b|c)    #| used for union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# intersection
print(a.intersection(b))

print(a & b)    #& used for intersection

print(a & c)

print(a & b & c)

{3}
{3}
set()
set()

In [9]:
# difference
print(a.difference(b))

print(b.difference(a))

print(b-a)

print(a-b)

{1, 2}
{4, 5}
{4, 5}
{1, 2}

### Dictionary

In [10]:
data=['alex',True,False,29,'new york','photographer']

datadict={
    'name':'alex',
    'ismarried':True,
    'haschildren':False,
    'age':29,
    'city':'new york',
    'profession':'photographer',
    'gender':''
}

In [11]:
datadict

{'name': 'alex',
 'ismarried': True,
 'haschildren': False,
 'age': 29,
 'city': 'new york',
 'profession': 'photographer',
 'gender': ''}

In [12]:
movies={}   #empty dict

In [13]:
#dict using constructor
expenditure= dict(
    food=500,
    rent=1500,
    insurance=200
)

In [14]:
print(expenditure)

{'food': 500, 'rent': 1500, 'insurance': 200}

### 
    -creating
    -accessing
    -add
    -remove
    -traverse

In [15]:
print(datadict['name'])
print(datadict['ismarried'])
print(expenditure['rent'])
#print(expenditure['drink']) error

alex
True
1500

In [16]:
print(datadict.get('city'))
print(datadict.get('ismarried'))
print(expenditure.get('rent'))
print(expenditure.get('drink')) #.get do not give error but return none if not in dict
print(expenditure.get('drink',300)) #.get return given value if not present

new york
True
1500
None
300

In [17]:
#key values can be added to a dict like this
movies['deadpool']="shawn levy"
movies['RRR']="ss rajamauli"
movies['oppenheimer']="chris nolan"
print(movies)

{'deadpool': 'shawn levy', 'RRR': 'ss rajamauli', 'oppenheimer': 'chris nolan'}

In [18]:
#update is used to pass a dict to a dict
movies.update(
    {
    'dark knight':'chris nolan',
    '3idiots':'raju hirani',
    'avengers endgame':'russo bros',
    }
)
print(len(movies),movies)

6 {'deadpool': 'shawn levy', 'RRR': 'ss rajamauli', 'oppenheimer': 'chris nolan', 'dark knight': 'chris nolan', '3idiots': 'raju hirani', 'avengers endgame': 'russo bros'}

In [19]:
datadict['name']="george"   #modification of already given key
datadict['income']='$5000'  #addnew key value to dict
print(datadict)

{'name': 'george', 'ismarried': True, 'haschildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer', 'gender': '', 'income': '$5000'}

In [20]:
movies.pop('RRR')   #pop used to remove an element from dict

'ss rajamauli'

In [21]:
print(movies)

{'deadpool': 'shawn levy', 'oppenheimer': 'chris nolan', 'dark knight': 'chris nolan', '3idiots': 'raju hirani', 'avengers endgame': 'russo bros'}

for loop in dict will always iterate over keys

In [22]:
for i in datadict:
    print(i)    #only keys

name
ismarried
haschildren
age
city
profession
gender
income

In [23]:
for i in datadict:
    print(datadict[i])  #only values

george
True
False
29
new york
photographer

$5000

In [24]:
for i,v in datadict.items():
    print(i,v)  #comb of key value

name george
ismarried True
haschildren False
age 29
city new york
profession photographer
gender
income $5000

In [25]:
datadict.items()

dict_items([('name', 'george'), ('ismarried', True), ('haschildren', False), ('age', 29), ('city', 'new york'), ('profession', 'photographer'), ('gender', ''), ('income', '$5000')])

In [26]:
datadict.keys()

dict_keys(['name', 'ismarried', 'haschildren', 'age', 'city', 'profession', 'gender', 'income'])

In [27]:
datadict.values()

dict_values(['george', True, False, 29, 'new york', 'photographer', '', '$5000'])

#### nested dictionary

In [28]:
report={
    '01':{
        'name':'alex',
        'subject': {
            'maths':97,
            'science':89,
            'english':92
            
        }
    },
    '02':{
        'name':'john',
        'subject': {
            'maths':91,
            'science':83,
            'english':97
            
        }
    }
}

In [30]:
from pprint import pp

In [31]:
pp(report)

{'01': {'name': 'alex', 'subject': {'maths': 97, 'science': 89, 'english': 92}},
 '02': {'name': 'john', 'subject': {'maths': 91, 'science': 83, 'english': 97}}}

In [32]:
rainfall_data={
    'year':[2029,2020,2021,2022,2023],
    'rainfall':[100,200,150,300,250]

}
print(rainfall_data)

{'year': [2029, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 150, 300, 250]}