### strings
- creation
- indexing and slicing
- methods

In [3]:
#single quoted string
a='apple'
print(type(a))

<class 'str'>

In [4]:
#double quoted string
b="banana"
print(type(b))

<class 'str'>

In [6]:
#triple quoted sting
c='''this is 
a string'''
print(type(c))

<class 'str'>

In [8]:
# using str() funtion
d=str(123232)
print(type(d))

<class 'str'>

#### types of string
- byte b'hello'
- raw r'hello'
- format f'hello{a}'

In [12]:
#examples
print(b'this is byte string')
print(r'this is a \n\n\n raw string')
print(f'{a} is the length of a string')

b'this is byte string'
this is a \n\n\n raw string
apple is the length of a string

#### Indexing
    -5  -4  -3  -2  -1
     a   p   p   l   e
     0   1   2   3   4

In [14]:
word='greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

g
r
e
e
k

In [15]:
msg='journey before destination'
print(msg[-6])
print(msg[15])

n
d

#### Slicing 
    sequence[start : stop : step]

In [18]:
msg[8:14]

'before'

In [21]:
msg[15::2]

'dsiain'

In [26]:
name="vijay deenanath chauhan"
fname=name[:5]
mname=name[6:15]
lname=name[16:]
print(fname)
print(mname)
print(lname)

vijay
deenanath
chauhan

In [27]:
#reverse
print(name[::-1])

nahuahc htananeed yajiv

In [31]:
x='$5599.25 only'
print("convert it into float")
print(float(x[1:-5]))

convert it into float
5599.25

#### string methods
- formatting
    -upper()
    -lower()
    -capatalise()
    -title()
    -swapcase()
    -casefold()
    -centre()
    -ljust()
    -rjust()

In [50]:
msg="Life is Beautiful"
print(msg.upper())      #change each string to uppercase
print(msg.lower())      #change each string to lowercase
print(msg.capitalize()) #change first letter of first word to uppercase
print(msg.title())      #change first letter of each word to uppecase
print(msg.swapcase())   #swap cases of given string
print(msg.casefold())   #just like lower

LIFE IS BEAUTIFUL
life is beautiful
Life is beautiful
Life Is Beautiful
lIFE IS bEAUTIFUL
life is beautiful

In [57]:
print((msg.ljust(50,' ')))    #shift string to left and fill remaing spaces with * total space is 50
print(msg.rjust(50,'*')) 
print(msg.center(50,'*'))

Life is Beautiful
*********************************Life is Beautiful
****************Life is Beautiful*****************

#### validation method
    - isalpha()
    - isalnum()
    -isnumeric()
    -isdigit()
    -isspace()
    -isascii()
    -isprintable()
    -islower()
    -isupper()

In [69]:
data='34242324'
print(data.isnumeric())
print(data.isdigit())

True
True

In [68]:
for i in range(0,280,5):
    c=chr(i)
    print(f'{i}={c}, {c.isascii()}')

0= , True
5=, True
10=
, True
15=, True
20=, True
25=, True
30=, True
35=#, True
40=(, True
45=-, True
50=2, True
55=7, True
60=<, True
65=A, True
70=F, True
75=K, True
80=P, True
85=U, True
90=Z, True
95=_, True
100=d, True
105=i, True
110=n, True
115=s, True
120=x, True
125=}, True
130=, False
135=, False
140=, False
145=, False
150=, False
155=, False
160= , False
165=¥, False
170=ª, False
175=¯, False
180=´, False
185=¹, False
190=¾, False
195=Ã, False
200=È, False
205=Í, False
210=Ò, False
215=×, False
220=Ü, False
225=á, False
230=æ, False
235=ë, False
240=ð, False
245=õ, False
250=ú, False
255=ÿ, False
260=Ą, False
265=ĉ, False
270=Ď, False
275=ē, False