## Tuple

In [2]:
a=(1,2,3,4,5)
print((a),type(a))

b=1,2,3,5
print(b,type(b))

c=(1,)
print(c,type(c))

d=tuple([1,2,3,4,5])
print(d,type(d))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 5) <class 'tuple'>
(1,) <class 'tuple'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [3]:
tpl=(23,56,86,21,3,67,3)
tpl.index(56)

1

In [4]:
tpl.count(3)

2

### tuple unpacking

In [5]:
x=('apple',100)
print(x)

('apple', 100)

In [8]:
item,cost=x
print(item,cost)

apple 100

In [9]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [13]:
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,b,c=one_tuple #error due to more values

ValueError: too many values to unpack (expected 3)

In [17]:
# * -unpacking operator
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,b,*c=one_tuple    # * used to assigned remaining elements in as one element
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
*a,b=one_tuple
print(a,b)

[1, 2, 3, 4, 5, 6, 7, 8, 9] 10

In [23]:
print(one_tuple)

print(*one_tuple)   #used to remove ()

print(*one_tuple,sep='\n')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10

In [24]:
print(type(*one_tuple))

TypeError: type() takes 1 or 3 arguments